{% extends 'index/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-12">
                <div class="card mt-3 tab-card">
                    <div class="card-header tab-card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="one-tab" data-toggle="tab" href="#one" role="tab"
                                   aria-controls="One" aria-selected="true">Sorular</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab"
                                   aria-controls="Two" aria-selected="false">Müfredat</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>

                        </div>
                        <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
                            <p class="card-text">
                                <!-- ================ contact section start ================= -->
                                <section class="contact-section">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <h2 class="contact-title">Müfredat Formu</h2>
                                            </div>
                                            <div class="col-lg-12">
                                                <form class="form-contact mr-2 ml-2 pl-2 pr-2" method="POST"
                                                      enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    {{ form.media }}
                                                    {{ form | crispy }}
                                                    <hr>
                                                    <div class="form-group mt-3">
                                                        <button type="submit" class="btn btn-primary">Kaydet</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- ================ contact section end ================= -->
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .card {
            background-color: #ffffff;
            border: 1px solid rgba(0, 34, 51, 0.1);
            box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05), 2px 4px 10px 0 rgba(0, 34, 51, 0.05);
            border-radius: 0.15rem;
        }

        /* Tabs Card */

        .tab-card {
            border: 1px solid #eee;
        }

        .tab-card-header {
            background: none;
        }

        /* Default mode */
        .tab-card-header > .nav-tabs {
            border: none;
            margin: 0px;
        }

        .tab-card-header > .nav-tabs > li {
            margin-right: 2px;
        }

        .tab-card-header > .nav-tabs > li > a {
            border: 0;
            border-bottom: 2px solid transparent;
            margin-right: 0;
            color: #737373;
            padding: 2px 15px;
        }

        .tab-card-header > .nav-tabs > li > a.show {
            border-bottom: 2px solid #007bff;
            color: #007bff;
        }

        .tab-card-header > .nav-tabs > li > a:hover {
            color: #007bff;
        }

        .tab-card-header > .tab-content {
            padding-bottom: 0;
        }
    </style>

{% endblock %}